In [1]:
import os
import pandas as pd
cwd = os.path.abspath('') 
files = os.listdir(cwd)

In [2]:
cwd

'C:\\Users\\Denise\\Desktop\\LivingWagesRepo\\LivingWages-WorkingPoor\\Resources'

In [3]:
files

['.ipynb_checkpoints',
 'DLF_pars.snap.ipynb',
 'EPI Data Library - Medianaverage hourly wages Ed.csv',
 'FY10.xls',
 'FY11.xls',
 'FY12.xls',
 'FY13.xls',
 'FY14.xls',
 'hlthaff.21.2.31.pdf',
 'LivingWagesWorkingPoor.xlsx',
 'NHE MedicaidCHIP 1960-2019.csv',
 'parse_snap.ipynb',
 'parse_snap_complete.ipynb',
 'parse_tanf_abrams.ipynb',
 'parse_tanf_complete_abrams.ipynb',
 'SNAP',
 'TANF',
 'tanf_complete_FLY.ipynb',
 'Test 1 Merging Excels .ipynb',
 'Test 2 Merging Excels.ipynb',
 'Test 3 Merging Excels.ipynb',
 'Test 4 Merging Excels.ipynb',
 'US_A.CSV',
 'US_B.CSV']

In [13]:
df_total = pd.DataFrame()
for file in files:  # loop through Excel files
    if file.endswith('.xls'):
        excel_file = pd.ExcelFile(file)
        sheets = excel_file.sheet_names
        for sheet in sheets: # loop through sheets inside an Excel file
            df = excel_file.parse(sheet_name = sheet)
            df_total = df_total.append(df)
df_total.to_excel('SNAP_combined_2010-2014.xls')

In [5]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [14]:
df.head(100)

,National Data Bank Version 8.2 - Supplemental Nutrition Assistance Program,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,11/06/2015
0,SNAP Monthly State Participation and Benefit S...,NaN,NaN,NaN,NaN,NaN
1,Fiscal Year and Month,Participation 1/,NaN,Benefit,NaN,NaN
2,NaN,Household,Persons,Per Household,Per Person,Cost
3,NaN,----------------- Number -----------------,NaN,----------------------------------------------...,NaN,NaN
4,US Summary,NaN,NaN,NaN,NaN,NaN
5,Oct 2013,23053620,47415754,275.668,134.03,6355133852
6,Nov 2013,23014953,47363175,257.503,125.127,5926416528
7,Dec 2013,22860771,47078649,254.513,123.588,5818353479
8,Jan 2014,22646436,46530889,254.564,123.896,5764971510
9,Feb 2014,22597843,46515743,254.792,123.781,5757748409
10,Mar 2014,22580029,46390386,255.76,124.488,5775057723
11,Apr 2014,22663868,46514290,254.451,123.98,5766848260
12,May 2014,22604943,46235606,255.786,125.056,5782022930
13,Jun 2014,22713859,46495793,254.038,124.101,5770182054
14,Jul 2014,22716152,46486888,254.236,124.234,5775265294
15,Aug 2014,22724505,46476291,253.732,124.062,5765935451
16,Sep 2014,22749951,46459930,252.348,123.567,5740900079
17,Total,2.27439e+07,4.66636e+07,256.475,125.006,69998835569
18,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN
20,1. FNS-388 data. Totals are averaged.,NaN,NaN,NaN,NaN,NaN
21,ALL DATA SUBJECT TO REVISION,NaN,NaN,NaN,NaN,NaN